<running-navbar></running-navbar>

<div class="container">
  <h1> Search</h1>

  <div>
    <label for="searchCity">City:</label>
    <input type="text" name="searchCity" id="searchCity" ng-model="searchCity">
    <!--<select ng-model="selectedType" ng-options="type.name for type in types track by type.value"></select>-->
    <!--<p>selected types is : {{selectedType}}</p>-->
    <!--<p> name of selected type is : {{selectedType.name}} </p>-->
    <br>
    <label for="stype">Type:</label>
    <select ng-model="selectedType" ng-options="type.label for type in types" name="stype" id="stype">
    </select>
  </div>

  <table class="table">
    <tr>

      <!-- <th ng-click="changeSort('gid')">gid</th> -->
      <!-- <th ng-click="changeSort('gcreatordId')">gcreatordId</th> -->
      <!-- <th ng-click="changeSort('gmembers')">gmembers</th> -->
      <th ng-click="changeSort('gname')">Name</th>
      <th ng-click="changeSort('glocation')">Location</th>
      <th ng-click="changeSort('gcity')">City</th>
      <th ng-click="changeSort('gages')">Ages</th>
      <th ng-click="changeSort('gtype')">Type</th>
      <th ng-click="changeSort('gtrainer')">Trainer</th>

    </tr>
    <tr ng-repeat="group in groups | filter: filterData | orderBy: sortProp : false track by group.gid" ng-click="openGroup(group)">
      <!-- <td>{{group.gid}}</td> -->
      <!-- <td>{{group.gcreatordId}}</td> -->
      <!-- <td>{{group.gmembers}}</td> -->
      <td>{{group.gname}}</td>
      <td>{{group.glocation}}</td>
      <td>{{group.gcity}}</td>
      <td>{{group.gages}}</td>
      <td>{{group.gtype}}</td>
      <td>{{group.gtrainer}}</td>
    </tr>
  </table>



</div>