<!-- <running-navbar></running-navbar> -->

<div class="container">
  <h1> Search</h1>

  <div>
    <label for="searchCity">City:</label>
    <input type="text" name="searchCity" id="searchCity" ng-model="searchCity">
    <!--<select ng-model="selectedType" ng-options="type.name for type in types track by type.value"></select>-->
    <!--<p>selected types is : {{selectedType}}</p>-->
    <!--<p> name of selected type is : {{selectedType.name}} </p>-->
    <br>
    <label for="stype">Type:</label>
    <select ng-model="selectedType" ng-options="type.label for type in types" name="stype" id="stype">
    </select>
  </div>

  <table class="table">
    <tr>
      <th ng-click="changeSort('gname')">gname</th>
      <th ng-click="changeSort('glocation')">glocation</th>
      <th ng-click="changeSort('gcity')">ucity</th>
      <th ng-click="changeSort('gages')">gages</th>
      <th ng-click="changeSort('gtype')">gtype</th>
      <th ng-click="changeSort('gtrainer')">gtrainer</th>

    </tr>
    <tr ng-repeat="group in groups | filter: filterData | orderBy: sortProp : false">
      <td>{{group.gname}}</td>
      <td>{{group.glocation}}</td>
      <td>{{group.gcity}}</td>
      <td>{{group.gages}}</td>
      <td>{{group.gtype}}</td>
      <td>{{group.gtrainer}}</td>
    </tr>
  </table>



</div>