/* Styles go here */

* {
    box-sizing: border-box;
}

body {
    font-family: Tahoma;
    /* text-align: center; */
    /*align: center;*/
    /*margin: auto;*/
}

.top-header {
    margin-top: 5em;
}

form {
    width: 80%;
    /* margin: auto; */
}

/* xxxxx */

.titlelabel {
    display: block;
}

button {
    float: right;
    margin: 5px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

legend {
    padding: 0.2em 0.5em;
    border: 1px solid gray;
    color: gray;
    font-size: 90%;
    max-width: 20%;
    /* margin:auto; */
    /* text-align: center; */
}

fieldset {
    border: 1px solid gray;
    padding: 1em;
}

.label1 {
    max-width: 30%;
    margin-right: 0.5em;
    padding-top: 0.2em;
    font-weight: bold;
    display: inline-block;
    margin: 5px;
}

.input1 {
    /* display: inline-block; */
    margin: 5px;
    float: right;
    width: 65%;
}

.input2 {
    /* display: inline-block; */
    margin: 5px;
    float: right;
    /* width: 65%; */
}

.table,
th,
td {
    /* border: 1px solid black; */
    border-top: 2px solid gray;
    border: 2px solid gray;
    /* border-collapse: collapse; */
    padding: 5px;
    text-align: left;
}

.table caption {
    caption-side: top;
    /* border: inherit; */
    /* background-color: lightgrey; */
}

.radio input {
    float: none;
}

.center {
    margin: left;
}

/* .selected {
    border: 0.5em solid red;
} */