/* Styles go here */

* {
    box-sizing: border-box;
}

body {
    font-family: Tahoma;
    /* text-align: center; */
    /*align: center;*/
    /*margin: auto;*/
}

.top-header {
    margin-top: 5em;
}

form {
    width: 80%;
    /* margin: auto; */
}

/* xxxxx */
  label {
    display: inline-block;
    margin: 5px;
  }
  
  input {
    /* display: inline-block; */
    margin: 5px;
    float: right;
  }
  
  .radio input {
    float: none;
  }
  
   .titlelabel {
    display: block;
  }
  
  
  button {
    float: right;
    margin: 5px;
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  fieldset {
    display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    min-width: -webkit-min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
  }

  legend {
    width: 20%;
  }