<running-navbar></running-navbar>

<div class="container">
  <h1>Run Group</h1>
  <div class="alert alert-danger" ng-show="invalidGroup">
      <strong>Error!</strong> Invalid group data.
</div>
  <form>


    <div class="form-group">
      <label for="gname">Group Name:</label>
      <input type="text" class="form-control" id="gname" ng-model="gname">
    </div>
    <div class="form-group">
      <label for="gmanager">Manager:</label>
      <input type="text" class="form-control" id="gmanager" ng-model="gmanager">
    </div>

    <div class="form-group">
        <label for="garea">Area:</label>
        <input type="text" class="form-control" id="garea" ng-model="garea">
      </div>
      <div class="form-group">
          <label for="gcity">City:</label>
          <input type="text" class="form-control" id="gcity" ng-model="gcity">
        </div>
        <div class="clearfix">
          <label for="age">Age:</label>
          <input type="number" name="age" id="age" min="0" max="120" />
        </div>
  
        <div class="form-group radio clearfix">
          <label for="state">State:</label>
          <label for="single">Single</label>
          <input type="radio" name="state" id="single" value="single" checked>
          <label for="married">Married</label>
          <input type="radio" name="state" id="married" value="married">
          <label for="other">Other</label>
          <input type="radio" name="state" id="other" value="other">
        </div>
  
        <label class="titlelabel" for="hobby">Hobby:</label>
        <select name="hobby" id="hobby" multiple>
          <option value="" disabled selected>Select your hobbies</option>
          <optgroup label="Outside Hobbies">
            <option value="1">Sport</option>
            <option value="2">Photo</option>
          </optgroup>
          <optgroup label="Inside Hobbies">
            <option value="3">Dance</option>
            <option value="4">Paint</option>
          </optgroup>
        </select>



    <div class="form-group">
        <label for="exampleTextarea">Description</label>
        <textarea class="form-control" id="exampleTextarea" rows="5" ng-model="gdesc"></textarea>
      </div>

      

    <button type="submit" class="btn btn-info" ng-click="createGroup()">Create Group</button>
   

  </form>


</div>