<running-navbar></running-navbar>

<div class="container">

    <runfilters-directive></runfilters-directive>

  <br>

  <table class="table">
    <caption>My Groups</caption>
    <tr>
      <th ng-click="changeSort('gid')">Group ID</th>
      <!-- <th ng-click="changeSort('gcreatordId')">gcreatordId</th> -->
      <th ng-click="changeSort('gname')">Name</th>
      <th ng-click="changeSort('glocation')">Location</th>
      <th ng-click="changeSort('gcity')">City</th>
      <th ng-click="changeSort('gages')">Ages</th>
      <th ng-click="changeSort('gtype')">Type</th>
      <th ng-click="changeSort('gtrainer')">Trainer</th>
      <!-- <th ng-click="changeSort('gmembers')">gmembers</th> -->
    </tr>
    <tr ng-repeat="group in mygroups | filter: filterData | orderBy: sortProp : false track by group.gid" ng-click="openGroup(group)">
      <td>{{group.gid}}</td>
      <!-- <td>{{group.gcreatordId}}</td> -->
      <td>{{group.gname}}</td>
      <td>{{group.glocation}}</td>
      <td>{{group.gcity}}</td>
      <td>{{group.gages}}</td>
      <td>{{group.gtype}}</td>
      <td>{{group.gtrainer}}</td>
      <!-- <td>{{group.gmembers}}</td> -->
    </tr>

    <table class="table">
      <!-- <h3>My Admin</h3> -->
      <caption>My Admin</caption>
      <tr>
        <th ng-click="changeSort('gid')">Group ID</th>
        <!-- <th ng-click="changeSort('gcreatordId')">gcreatordId</th> -->
        <th ng-click="changeSort('gname')">Name</th>
        <th ng-click="changeSort('glocation')">Location</th>
        <th ng-click="changeSort('gcity')">City</th>
        <th ng-click="changeSort('gages')">Ages</th>
        <th ng-click="changeSort('gtype')">Type</th>
        <th ng-click="changeSort('gtrainer')">Trainer</th>
        <th ng-click="changeSort('gmembers')">Members</th>
      </tr>
      <tr ng-repeat="group in myadmin | filter: filterData | orderBy: sortProp : false track by group.gid" ng-click="openGroup(group)">
        <td>{{group.gid}}</td>
        <!-- <td>{{group.creatorName()}}</td> -->
        <td>{{group.gname}}</td>
        <td>{{group.glocation}}</td>
        <td>{{group.gcity}}</td>
        <td>{{group.gages}}</td>
        <td>{{group.gtype}}</td>
        <td>{{group.gtrainer}}</td>
        <td>{{group.gmembers}}</td>
        <!-- <td>{{group.membersData()}}</td> -->
      </tr>
    </table>



</div>